[user]
	email = 80419011+bpjordan@users.noreply.github.com
	name = Bronson Jordan

[core]
	editor = nvim
	pager = less -F

[alias]
	graph = log --graph --decorate=full --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --date=relative
	jsondiff = diff --color-words=([^[:alnum:]]|[^[:space:]])
	prune-branches = "!f() { git fetch --prune && git branch -v | grep '\\[gone\\]' | cut -d ' ' -f 3 | xargs -r git branch -D; }; f"

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[diff]
	tool = nvim

[difftool "nvim"]
	cmd = nvim -d "$LOCAL" "$REMOTE"

[merge]
	tool = fugitive

[mergetool "fugitive"]
	cmd = nvim -c "Gvdiffsplit!" "$MERGED"
